footer {
    margin-top: 50px;
}

main {
    margin-top: 70px;
}

.card {
    margin-bottom: 5px;
}

    .card img {
        width: 100%;
        /*height:300px;*/
    }

.jumbotron {
    margin-top: -20px;
}
